@charset "UTF-8";

/* PALETA

OFF WHITE #F2E9EC
BEGE #D9BCA3
MARROM #BF6A39
MARROM ESCURO #593C23
ROSE #F29985

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #D9BCA3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: linear-gradient(to bottom, #BF6A39,#593C23);
    /*background-color: #BF6A39;*/
    height: 70px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.361);
    
}

header > h1 {
    padding: 15px;
    text-align: center;
    font-size: 3em;
}

nav.flex-nav {
    background-color: #593C23;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.502);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.598);   
}

nav > a:hover{ /* talvez acrscentar algo depois */
    background-image: linear-gradient(to left, #593C23, #724726, #593C23);
      
}

main{
    background-color: white;
    min-width: 300px;
    width: 100vw;
    height: 75vh;
    margin: auto;
    border-radius: 0px 0px 10px 10px;  
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.436); /* sombra vazando para cima do NAV, resolver depois */

    display: flex;
    flex-direction: column;
}

main > div#img {
    background-image: url(../imagens/pexels-lisa-fotios-1024359.jpg);
    background-repeat: no-repeat;
    background-position:  bottom center;
    background-size: cover;
    display: block;
    height: 250px;
    
}

main > div#cardapio{
    height: calc(100% - 250px);
    width: 100%;

    display: flex;
    flex-direction: column;
}

main > div#cardapio > div.flex-item { /* EFEITOS NO TEXTO COM :HOVER */
    background-color: #F29985;    
    width: 80%;
    margin: auto;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.473);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > div#cardapio > div.flex-item:hover {
    cursor: pointer;
    background-color: #f3b4a6;
    letter-spacing: 5px;
    transition: 0.5s;
}

main > div#cardapio > div.flex-item > h2 {
    padding: 5px 8px;
}

main > div#cardapio > div.flex-item > span.material-symbols-outlined {
    font-size: 3em;
    text-align: center;
   
}



footer {
    background-color: #BF6A39;
    padding: 3px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}